body {
    margin: 0;
}
.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 2px solid green;
    padding: 1%;
}
.header {
    text-align: center;
    background-color: #FF9900;
    border: 1px solid #CCCCCC;
    width: 100%;
    height: 80px;
    margin-bottom: .7%;
}
.content {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    margin-bottom: .7%;
}
.left {
    text-align: left;
    background-color: #6666CC;
    border: 1px solid black;
    width: 20%;
    height: 600px;
    margin-right: .7%;
}
.center {
    text-align: justify;
    background-color: #FFCC99;
    border: 1px solid black;
    width: 60%;
    height: 600px;
}
.right {
    text-align: right;
    background-color: #6666CC;
    border: 1px solid black;
    width: 20%;
    height: 600px;
    margin-left: .7%;  
}
.footer {
    text-align: center;
    background-color: #33FF33;
    border: 1px solid #CCCCCC;
    width: 100%;
    height: 80px;
}