body{
    background-color: rgb(200, 188, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: 0;
    color: black;
}
.page{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 1%;
    background-color: whitesmoke;
    border-radius: 3px;
}
.question{
    text-align: left;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.answer{
    text-align: left;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.input{
    width: 100%;
}
.input button{
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    margin: auto 10px auto 10px;
    border-radius: 3px;
}